<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <h1 class="text-center">Edit Picture</h1>
        <%= form_for("/topic/#{@topic.id}/update") do %>



        <input type="submit" value="Update" class='btn-white'>
        <% end %>
      </div>
    </div>
  </div>
</div>
