<% provide(:title, @title) %>
  <div class="users-index-wrapper">
    <div class="container">
      <div class="row">
        <h3 class="topic-h1"><%= @title %></h3>
        <% if @users.any? %>
          <%= render @users %>
        </div>
        <%= will_paginate %>
      <% end %>
    </div>
  </div>
