<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-pages">Share Your Strength</h1>
    <h3 class="text-pages">All people have something good skills</h3>
    <%= link_to 'Sign up', new_user_path , class: 'btn-circle' %>
  </div>
  <div class="hero-container">
    <h1 class="text-white">
    <%= image_tag "star-right.jpg", class: "star" %>
    You Are an Influencer!
    <%= image_tag "star-left.jpg", class: "star" %>
    </h1>
  </div>
  <div class="pages-middle">
    <div class="pages-middle-up">
      <h1>LEND A HAND</h1>
      <h2>Finding a teacher couldn’t be easier. Just log in, find someone online who has some knowledge. It’s that simple  your personal teacher meetup app. No need to schedule a time, sign into Skype, or go to a meeting</h2>
    </div>
    <div class="pages-middle-up-right"></div>
    <div class="pages-middle-down-left"></div>
    <div class="pages-middle-down">
      <h1>FULLY EXHIBIT YOUR STRENGTH</h1>
      <h2>Our app helps you find people who are interested your skills.
      Show your skills, get your fans, and be Influencer in the world.</h2>
    </div>
  </div>
  <div class="pages-last">
    <h1 class="text-pages">JOIN THE COMMUNITY</h1>
    <h3 class="text-pages"></h3>
    <%= link_to 'Sign up', new_user_path , class: 'btn-circle' %>
  </div>



</div>
