<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Share Your Strength</h1>
    <h3 class="text-white">All people have something good skills</h3>
    <%= link_to 'Sign up', new_user_path , class: 'btn-circle' %>
  </div>
  <div class="hero-container">
    <h1 class="text-white">You Are an Influencer!</h1>
  </div>
  <div class="top-container">
    <div style="text-align:left;">
    <%= image_tag "money.png", class: "top-container-money" %>
    </div>
  </div>
</div>
