<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-pages">Share Your Strength</h1>
    <h3 class="text-pages">All people have something good skills</h3>
    <%= link_to 'Sign up', new_user_path , class: 'btn-circle' %>
  </div>
  <div class="hero-container">
    <h1 class="text-white">You Are an Influencer!</h1>
  </div>
  <div class="top-container">
    <div class="left">
    <%= image_tag "money.png", class: "top-container-money" %>
    </div>
    <div class="right">
    <h1 class="text-blue">SELL YOUR SKILLS.</h1>
    <h2 class="text-right">Our app helps you find people who are interested your skills.
      Show your skills, get your fans, and be Influencer in the world.</h2>
    </div>
  </div>
</div>
