.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.topic-index-container {
  display: flex;
  flex-wrap: wrap;
}

.topic-index-wrapper {
  padding-top: 70px;

  .topic-index-single {
    margin: 40px;
    width: 330px;
    padding-bottom: 20px;
    margin-top: 30px;

    .topic-index-icon {
      width: 30px;
      height: 30px;
    }

    .topic-author {
      font-size: 15px;
      padding-right: 20px;
    }

    .index-category {
      float: right;
      font-size: 20px;
    }

    .topic-index-title {
      font-size: 30px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      width: 100%;
      height: 230px;
    }

    video {
      width: 100%;
      height: 230px;
    }
  }
}

.topic-h1 {
  font-size: 30px;
  color: #FFF;
  text-shadow: 2px 2px 1px #0FF, -2px 2px 1px #0FF, 2px -2px 1px #0FF, -2px -2px 1px #0FF;
  font-weight: 400;
  font-family: Verdana;
  font-style: oblique;
}

.topic-index-icons {
  position: relative;
}

.topic-index-icon {
  position: absolute;
  top: 5%;
  right: 5%;
}

.tweet-icon {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 0;
  right: 0;
  background-attachment: scroll;
}

.topic-newpost {
  position: fixed;
  margin: 40px;
  width: 50px;
  height: 50px;
  border: solid 1px #000;
  border-radius: 50%;
}

.topic-show-wrapper {
  padding-top: 100px;
}


.topic-show-image {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  img {
    width: 400px;
    height: 550px;
  }

  video {
    width: 400px;
    height: 500px;
  }
}

.topic-show-right {
  .topic-index-icon2 {
    float: right;
  }

  img {
    width: 35px;
    height: 35px;
  }

  .topic-show-category {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .topic-show-author {
    font-size: 20px;
  }

  .topic-show-title {
    font-size: 50px;
    padding-bottom: 30px;
  }

  .topic-show-text {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 20px;

    .topic-show-text2 {
      font-size: 25px;
      font-weight: 400;
      padding-bottom: 20px;
    }
  }
}

.topic-show-left2{
  position: -webkit-sticky;
  position: sticky;
  top: 50px
}

.topic-show-review {
  padding-top: 50px;
  padding-bottom: 20px;

  img {
    width: 40px;
    height: 40px;
  }
  .topic-show-comment {
    font-size: 40px;
    font-weight: 350;
  }
}

.topic-show-right2{
  padding-top: 45px;
}

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 70px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 7px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says p {
  margin: 0;
  padding: 0;
}

.comment-users {
  padding-left: 80px;
}

.btn-flat-border {
  font-size: 25px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

.topic-show-box{
  img{
  height: 100px;
  width: 200px;
}
video{
  height: 100px;
  width: 200px;
}
}
