.form-control {
  height: 30px;
}

.users-new-wrapper {
  width: 100vw;
  height: 120vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;

  .users-new-container {
    padding-top: 150px;


    .form-group {
      margin-bottom: 20px;
      input[type="text"]:focus {
  border: 1px solid #ff9900;
  outline: 0;
      }
    }
  }
}

.formradio-group{
  padding-bottom: 20px;
  color: #000;
}

.btn-white {
  position: relative;
 display: inline-block;
 font-weight: bold;
 padding: 0.25em 0.5em;
 text-decoration: none;
 color: #00BCD4;
 background: #ECECEC;
 transition: .4s;

  &:hover{
    background: #00bcd4;
  color: white;
  }
}


.edit-wrapper{
  padding: 60px;
  color: #000;
  background-color: #EEEEEE;

  img{
    border-radius: 50%;
   width:  180px;
   height: 180px;
  }
}

.show-wrapper{
  height: 100vh;
  background-color: #EEEEEE;
  padding-top: 60px;
}

.show-profile{
  max-width: 50%;
  margin: 0 auto;
  width:auto;
  height:auto;
  font-size: 30px;
  margin-top:50px;

  img{
    border-radius: 50%;
   width:  180px;
   height: 180px;
  }

  .show-name{
    font-size: 45px;
    font-weight: 600;
  }

  .show-birthday{
    font-size: 20px;
    margin-bottom: 55px;
  }
  .show-bio{
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    border-top: solid 1.5px #5989cf;
    border-bottom: solid 1.5px #5989cf;
  }
  .show-bio p{
    margin: 0;
    padding: 0;
  }
}
